---
---
@import "{{ site.theme }}";

/* salt-normalizer.css */

body {
  font-family: var(--salt-typography-fontFamily);
  background: var(--salt-color-background);
  color: var(--salt-text-primary-foreground);
  padding: 2rem;
}

/* Headings */
h1 {
  font: var(--salt-typography-display1-font);
  margin-bottom: 1rem;
}
h2 {
  font: var(--salt-typography-headline1-font);
  margin-bottom: 1rem;
}
h3 {
  font: var(--salt-typography-headline2-font);
  margin-bottom: 1rem;
}

/* Paragraph */
p {
  font: var(--salt-typography-body1-font);
  margin-bottom: 1rem;
}

/* Links */
a {
  color: var(--salt-color-accent-foreground);
  text-decoration: underline;
}

/* Buttons */
button {
  all: unset;
  font: var(--salt-typography-label-font);
  background: var(--salt-color-accent-background);
  color: var(--salt-color-accent-foreground);
  border-radius: var(--salt-palette-cornerRadius-medium);
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
  box-shadow: var(--salt-shadow-sm);
}
button:hover {
  background: var(--salt-color-accent-background-hover);
}
